# Build folderi
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# VS Code
.vscode/

# Logs
*.log

# OS fajlovi
.DS_Store
Thumbs.db

# NuGet
*.nupkg
packages/

# Environment / secrets (VAŽNO)
appsettings.json
appsettings.*.json

# Publish
publish/

# Rider
.idea/